<?xml version="1.0" encoding="utf-8"?>
<CheckersSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <PlayerName>Testing Saving Name</PlayerName>
  <RoomName>Room Name</RoomName>
  <DefaultNetworkAddress>0.0.0.00</DefaultNetworkAddress>
  <PlayerColorIndex>0</PlayerColorIndex>
  <CompetitorColorIndex>0</CompetitorColorIndex>
  <DefaultNetworkPort>0000</DefaultNetworkPort>
  <MaxMessageQueueSize>1024</MaxMessageQueueSize>
  <MaxCombinedReliableMessageSize>2048</MaxCombinedReliableMessageSize>
  <ThreadAwakeTimeout>10</ThreadAwakeTimeout>
</CheckersSettings>